<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <meta charset="utf-8">
    <title>Andrew Kolander Personal Website</title>
    <script src="public/vendors/angular/angular.min.js" charset="utf-8"></script>
    <script src="public/vendors/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="public/vendors/angular-route/angular-route.min.js" charset="utf-8"></script>
    <script src="public/vendors/angular-material/angular-material.min.js" charset="utf-8"></script>
    <script src="public/vendors/angular-animate/angular-animate.min.js" charset="utf-8"></script>
    <script src="public/vendors/angular-aria/angular-aria.min.js" charset="utf-8"></script>
    <script src="public/scripts/script.js" charset="utf-8"></script>

    <script src="https://use.fontawesome.com/85c5318aae.js"></script>

    <link rel="stylesheet" href="public/stylesheet/stylesheet.css">
    <link rel="stylesheet" href="public/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="public/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="public/assets/Logomakr_6spMAq.png">


  </head>

  <body ng-controller="MainController as main">
    <!--header information  -->

    <div id="container">
      <div id="infoContainer">
        <img id="image" src="public/assets/Andrew+Kelly-55.jpg"/>
        <div id="info">
          <h2 id="name">Andrew Kolander</h2>
          <h2 id="title">Software Developer</h2>
        </div>
      </div>


      <!-- About Me/Contact -->
      <div id="textContainer">
        <div class="column">
          <div class="subheader">
            <h2>About Me</h2>
          </div>
            <div id="me">
              <p>I am a highly motivated individual who enjoys continuously
                learning and taking on challenges.  I'm a quick learner and have a
                strong attention to detail. When I'm not coding you can find me spending
                time with friends and family.</p>
          </div>
        </div>

        <div class="column">
          <div class="subheader">
            <h2>Skills</h2>
          </div>
          <div id="skillsList">
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JavaScript</li>
              <li>AngularJS</li>
              <li>Express.js</li>
              <li>Node.js</li>
              <li>Heroku</li>
              <li>GruntJS</li>
              <li>JQuery</li>
              <li>MongoDB</li>
              <li>MongooseJS</li>
              <li>PostgreSQL</li>
              <li>Bootstrap</li>
              <li>Git</li>
              <li>GitHub</li>
              <li>Passport.js</li>
              <li>D3.js</li>
              <li>Java</li>
              <li>ReactJS</li>

            </ul>
          </div>
        </div>

        <div class="column">
          <div class="subheader">
            <h2>Contact</h2>
          </div>
          <div class="links">
            <a href="" class="fa fa-envelope fa-3x" aria-hidden="true"></a>
            <p>akolander22@gmail.com</p>
            <br />
            <a href="https://github.com/akolander22" class="fa fa-github fa-3x" aria-hidden="true"></a>
            <br />
            <a href="https://www.linkedin.com/in/andrew-kolander" class="fa fa-linkedin-square fa-3x" aria-hidden="true"></a>

          </div>
        </div>
      </div>

      <!-- Past Projects Section -->
      <div id="projectsContainer">
        <div id="projectHeader">
          <h2>Projects</h2>
        </div>
        <div id="projects">
          <div class="project grey" ng-click="main.ed()">
            <img class="projectImage" src="public/assets/edupdate.png" alt="ContinuedEducation">

            <div class="infoTitle">
              <h1>Continuning Education</h1>
              <p>HTML5, CSS3, JavaScript, AngularJS, Node.js,
                Express.js, MongoDB, Heroku, Git</p>
            </div>

          </div>
          <div class="project grey" ng-click="main.ssmn()">
            <img class="projectImage" src="public/assets/ssmnhome.png" alt="SustainableStillwater" >

            <div class="infoTitle">
              <h1>Sustainable Stillwater MN</h1>
              <p>HTML5, CSS3, JavaScript, D3.js, AngularJS, Node.js,
                Express.js, MongoDB, Heroku, Git</p>
            </div>
          </div>
          <div class="project grey" ng-click="main.tv()">
            <img class="projectImage" src="public/assets/tvmyshows.png" alt="MyTvTracker" >

            <div class="infoTitle">
              <h1>MyTvTracker</h1>
              <p>TVMaze API, HTML5, CSS3, JavaScript, AngularJS,
                Node.js, Express.js, MongoDB, Heroku, Git</p>
            </div>
          </div>
          <div class="project grey" ng-click="main.calc()">
            <img class="projectImage" src="public/assets/angularcalculator.png" alt="AngularCalculator" >

            <div class="infoTitle">
              <h1>Angular Calculator</h1>
              <p>HTML5, CSS3, JavaScript, AngularJS, Node.js, Git</p>
            </div>

          </div>
          <div class="project grey" ng-click="main.olympic()">
            <img class="projectImage" src="public/assets/olympian.png" alt="RandomOlympian" >

            <div class="infoTitle">
              <h1>Random Olympian Generator</h1>
              <p>HTML5, CSS3, JavaScript, AngularJS, Node.js, Express.js, Heroku, Git</p>
            </div>
          </div>
          <div class="project grey" ng-click="">
            <img class="projectImage" src="public/assets/resume.png" alt="HTMLResume" >

            <div class="infoTitle">
              <h1>HTML Resume</h1>
              <p>HTML, CSS</p>
            </div>
          </div>

        </div>
      </div>

    </div>




    <!-- MODALS -->
    <div ng-controller="ModalController as modal">

      <!-- Continuing Education APP -->
      <script type="text/ng-template" id="continuinged.html">

        <md-dialog-content>
          <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:slategrey;">
              <h2>Continuing Education Application</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="modal.cancel()">
                <i class="material-icons">close</i>
              </md-button>
            </div>
          </md-toolbar>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Login">
              <md-content class="md-padding">
                <h1 class="md-display-2">Login Page</h1>
                <img src="public/assets/edlogin.png" style="height:600px; width:900px;"/>
              </md-content>
          </md-tab>
          <md-tab label="Licenses">
            <md-content class="md-padding">
              <h1 class="md-display-2">Active Licenses</h1>
              <img src="public/assets/edlicense.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Create">
            <md-content class="md-padding">
              <h1 class="md-display-2">Create a new License</h1>
              <img src="public/assets/edcreate.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Update">
            <md-content class="md-padding">
              <h1 class="md-display-2">Update Existing License</h1>
              <img src="public/assets/edupdate.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Tech">
            <md-content class="md-padding">
              <h1 class="md-display-2">Technologies Used</h1>
              <p>
                HTML5, CSS3, JavaScript, AngularJS, Node.js, Express.js, MongoDB, Heroku, Git
              </p>
              <md-button class="btn btn-primary"><a href="http://continuededucationapp.herokuapp.com/">Live Demo</a></md-button>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-dialog-content>

    </script>

      <!-- Sustainable Stillwater Modal -->
      <script type="text/ng-template" id="ssmn.html">
        <md-dialog-content>
          <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:slategrey;">
              <h2>Sustainable Stillwater Minnesota</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="modal.cancel()">
                <i class="material-icons">close</i>
              </md-button>
            </div>
          </md-toolbar>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Login">
              <md-content class="md-padding">
                <h1 class="md-display-2">Home Page</h1>
                <img src="public/assets/ssmnhome.png" style="height:600px; width:900px;"/>
              </md-content>
          </md-tab>
          <md-tab label="Licenses">
            <md-content class="md-padding">
              <h1 class="md-display-2">Profile Sidebar</h1>
              <img src="public/assets/ssmnprofile.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Create">
            <md-content class="md-padding">
              <h1 class="md-display-2">SSMN Overall Progress</h1>
              <img src="public/assets/ssmnprofile.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Update">
            <md-content class="md-padding">
              <h1 class="md-display-2">Initiative Progress</h1>
              <img src="public/assets/ssmnviewprogress.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Tech">
            <md-content class="md-padding">
              <h1 class="md-display-2">Technologies Used</h1>
              <p>
                HTML5, CSS3, JavaScript, D3.js, AngularJS, Node.js, Express.js, MongoDB, Heroku, Git
              </p>
              <md-button class="btn btn-primary"><a href="http://sustainablestillwater.herokuapp.com">Live Demo</a></md-button>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-dialog-content>
    </script>

      <!-- MyTv Tracker Modal -->
      <script type="text/ng-template" id="tv.html">
        <md-dialog-content>
        <md-toolbar>
          <div class="md-toolbar-tools" style="background-color:slategrey;">
            <h2>MyTvTracker</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="modal.cancel()">
              <i class="material-icons">close</i>
            </md-button>
          </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Login">
            <md-content class="md-padding">
              <h1 class="md-display-2">Login Page</h1>
              <img src="public/assets/tvlogin.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Search">
            <md-content class="md-padding">
              <h1 class="md-display-2">Search for a Show</h1>
              <img src="public/assets/tvsearch.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="MyShows">
            <md-content class="md-padding">
              <h1 class="md-display-2">Shows I'm Watching</h1>
              <img src="public/assets/tvmyshows.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Progress">
            <md-content class="md-padding">
              <h1 class="md-display-2">Overall Progress</h1>
              <img src="public/assets/tvprogress.png" style="height:600px; width:900px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Tech">
            <md-content class="md-padding">
              <h1 class="md-display-2">Technologies Used</h1>
              <p>
                TVMaze API, HTML5, CSS3, JavaScript, AngularJS, Node.js, Express.js, MongoDB, Heroku, Git
              </p>
              <md-button class="btn btn-primary"><a href="http://frozen-falls-30491.herokuapp.com/">Live Demo</a></md-button>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-dialog-content>
      </script>

      <script type="text/ng-template" id="olympic.html">
        <md-dialog-content>
        <md-toolbar>
          <div class="md-toolbar-tools" style="background-color:slategrey;">
            <h2>Random Olympican Generator</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="modal.cancel()">
              <i class="material-icons">close</i>
            </md-button>
          </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Home">
            <md-content class="md-padding">
              <h1 class="md-display-2">Home Page</h1>
              <img src="public/assets/olympichome.png" style="height:300px; width:600px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Example">
            <md-content class="md-padding">
              <h1 class="md-display-2">Generator Example</h1>
              <img src="public/assets/olympicexample.png" style="height:300px; width:600px;"/>
            </md-content>
          </md-tab>
          <md-tab label="Tech">
            <md-content class="md-padding">
              <h1 class="md-display-2">Technologies Used</h1>
              <p>
                HTML5, CSS3, JavaScript, AngularJS, Node.js, Express.js, Heroku, Git
              </p>
              <md-button class="btn btn-primary"><a href="https://warm-wave-14597.herokuapp.com/">Live Demo</a></md-button>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-dialog-content>
    </script>
    </div>



  </body>
</html>
