#head{
  height: 100%;
  background-color: #2E8B57;
  padding-top: 150px;
  color: #EEE8AA;
  text-shadow: 2px 2px #696969;
  text-align: center;
}
.buttons{
  padding: 10px;
}
#pic{
  padding: 50px 50px;
  height:600px;
  width: 450px;
  float: left;
}
#projectsLists{
  height: 900px;
  background-color: #2E8B57;
  padding-top: 5px;
  color: #EEE8AA;
  text-shadow: 2px 2px #696969;
  text-align: center;
}
#about{
  height: 650px;
  text-align: center;
  background-color: #194d30;
  color: white;
  padding: 2px 0px;
  text-shadow: 1px 1px black;
}
#me{
  padding-right: 25px;
}
#topbutton{
  margin-top: 5px;
}
.snippet{
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
       -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
          filter: grayscale(100%);
}
