#container{
  height:100%;
  width:100%;
  background-color: slategrey;
}
#image{
  left:5%;
  top:5%;
  height: 300px;;
  width: 300px;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  border-radius: 50%;
  border: 2px solid white;
  margin: 10px;
  float:left;
}
#info{
  float: left;
  right: 2%;
  width: 60%;
}
#name{
  color:white;
  font-size:50px;
  left:50px;
  top:75px;
  font-family: 'Muli', sans-serif;
}
#title{
  color: white;
  font-size: 24px;
  left: 50px;
  top: 125px;
  font-family: 'Muli', sans-serif;
}
.links{
  color: white;
  text-align: center;
}
#textContainer{
  /*position: fixed;*/
  /*top: 300px;*/
  color: slategrey;
  width: 100%;
  margin: 50px;
  text-align: center;
  clear: both;
}
#infoContainer{
  margin: 10px;
  /*position: absolute;*/
  width: 90%;
}
.column{
  width: 30%;
  float: left;
  padding: 5px;
}
.subheader{
  background-color: white;
}
#me{
  background-color: slategrey;
  color: white;
}
#projectHeader{
  text-align: center;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  color: slategrey;
  clear:left;
}
ul{
  list-style-type: none;
}
#skillsList{
  color: white;
}
#projectsContainer{
  background-color: slategrey;
  clear: both;
}
#projects{
  width: 100%;
  border: 1px solid black;
  height: 500px;
}
.project{
  float: left;
  width: 33%;
  height: 250px;
  padding: 5px;
  margin: 0 auto;
  position: relative;
}
.projectImage #edInfo{
  visibility: hidden;
}
.projectImaeg:hover{
  opacity: 0.75;
}
.projectImage:hover #edInfo{
  visibility: visible;
}
.projectImage{
  height: 250px;
  width: 100%;
  padding: 5px;

}
