
#head{
  height: 600px;
  background-color: #2E8B57;
  padding-top: 150px;
  color: #EEE8AA;
  text-shadow: 2px 2px #696969;
  text-align: center;
}
.buttons{
  padding: 10px;
}
#pic{
  padding: 50px 50px;
  height:600px;
  width: 450px;
  float: left;
}
#projects{
  height: 500px;
  background-color: #2E8B57;
  padding-top: 10px;
  color: #EEE8AA;
  text-shadow: 2px 2px #696969;
  text-align: center;
}
.project{
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 1px solid black;
}
#about{
  height: 600px;
  text-align: center;
  background-color: #194d30;
  color: white;
  padding: 2px 0px;
  text-shadow: 1px 1px black;
}
.links:hover{
  text-decoration: none;
}
#me{
  padding-right: 25px;
}
